<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
	details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread]%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 把日志输出到文件当中 -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/easy_platform.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${user.dir}/logs/easy.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>5</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<!--<logger name="org.hibernate" level="debug"/> -->
	<!-- Uncomment and add your logger here: <logger name="org.springframework.samples.service.service" 
		level="debug"/> -->

	<root level="info">
		<appender-ref ref="console" />
	</root>
</configuration>
